adf/pipeline/pl-githubapi-to-adls-retail.json
{
	"name": "pl-githubapi-to-adls-retail",
	"properties": {
		"activities": [
			{
				"name": "wa_retrieve_github_response",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.github.com/repos/RajGuptta07/Azure-Databricks-End-to-End-Project-Retail/contents/Data"
				}
			},
			{
				"name": "fe_iterate_github_response",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "wa_retrieve_github_response",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('wa_retrieve_github_response').output.Response)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "if_validate_api_data",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n    endswith(last(split(item().download_url, '/')) ,'first.csv'),\n    endswith(last(split(item().download_url, '/')) ,'regions.csv')\n\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}