retail-etl-adf-pipeline/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "retail-etl-adf-pipeline"
		},
		"ls_adls_retail_sink_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_retail_sink'"
		},
		"ls_retail_github_connector_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"ls_adls_retail_sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stretaildataproj.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_retail_github_connector')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_retail_github_connector_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_retail_sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_retail_sink_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_retail_sink_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_http_githubapi_retail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_retail_github_connector",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_github_relativepath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().p_github_relativepath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_retail_github_connector')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_retail_github_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_retail_sink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_target_folder": {
						"type": "string"
					},
					"p_target_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_target_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_target_folder",
							"type": "Expression"
						},
						"fileSystem": "source"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_retail_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl-githubapi-to-adls-retail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "wa_retrieve_github_response",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://api.github.com/repos/RajGuptta07/Azure-Databricks-End-to-End-Project-Retail/contents/Data"
						}
					},
					{
						"name": "fe_iterate_github_response",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "wa_retrieve_github_response",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(activity('wa_retrieve_github_response').output.Response)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "if_validate_api_data",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n    endswith(last(split(item().download_url, '/')) ,'first.csv'),\n    endswith(last(split(item().download_url, '/')) ,'regions.csv')\n\n)\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "cp_copy_githubdata_adls",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET"
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_http_githubapi_retail",
														"type": "DatasetReference",
														"parameters": {
															"p_github_relativepath": {
																"value": "@replace(item().download_url, 'https://raw.githubusercontent.com/', '')\n",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_retail_github_sink",
														"type": "DatasetReference",
														"parameters": {
															"p_target_folder": {
																"value": "@if(\n    endswith(last(split(item().download_url, '/')), 'first.csv'),\n    split(last(split(item().download_url, '/')), '-')[0],\n    split(last(split(item().download_url, '/')),'.')[0]\n)\n",
																"type": "Expression"
															},
															"p_target_file": {
																"value": "@last(split(item().download_url , '/'))",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_http_githubapi_retail')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_retail_github_sink')]"
			]
		}
	]
}